{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
<h1>La banque a qui ne pas parler</h1>
    <p>Nous ce que l'on veut, c'est votre argent :)</p>
    <p>Nous somme sur le controleur {{ controller_name }} </p>
{% endblock %}

{% block menu %}
    {% import 'macro/macroMenu.html.twig' as macroMenu %}
    {{ macroMenu.menu('Ma banque',1) }}
{% endblock %}
